@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  margin: 0;
  font-family: Sora, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(210, 208, 208);
  height: 100vh;
}

.main-content{
  display: flex;
}

.education> h3,.experience > h3, .personal > h3{
  text-decoration: underline;
  text-underline-offset: 4px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.form{
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2vh 3vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  max-height: 83.7vh;
  overflow: auto;
}

.input{
  display: flex;
  flex-direction: column;
}

input{
  height: 3.5vh;
  border: none;
  border-bottom: 1px solid grey;
}

textarea,input{
  padding: 3px 5px;
  color: black;
  background-color: white;
  border-radius: 4px;
}

.buttons{
  display: flex;
  justify-content: center;
}

button{
  width: 5vw;
  min-height: 3vh;
  background-color: black;
  border: none;
  border-radius: 4px;
}

input:focus,textarea:focus{
  outline: none;
  background-color: white;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
  padding: 0 3vw;
}


section{
  padding: 20px 60px;
}

.display{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 5vh;
  margin: 10px auto;
  width: 520px;
  max-height: calc(100vh - 170px);
  border-left: 10px solid black;
  overflow: auto;
}

.display .title{
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
}



.personal-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  
}

.name{
  font-weight: 700;
  font-size:xx-large;
}